@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: "Nunito";
    color: #2C3036;
}

body {
    width: 1150px;
    margin: auto;
}

a {
    color: #898C91;
    text-decoration: none;
    transition: 0.5s color;
}
a:hover {
    color: #2C3036;
    font-weight: bold;
}


header {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
header > .nav {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 15% 20% 25% 20% 15%;
}
header > .nav > a {
    margin: auto;
}
header > .user_nav {
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
}
header > .user_nav > a {
    margin: auto;
}
header > .user_nav > p {
    margin: auto;
    font-weight: bold;
}

a > .arrow {
    margin-left: 2px;
    transform: rotate(90deg);
    transition: 1s transform;
}


footer {
    width: 100%;
    display: grid;
    grid-template-columns:23% 23% 23% 31%;
}
footer > .footer_wraper {
    padding: 40px;
    display: grid;
    grid-template-rows: min-content;
}
footer > .footer_wraper:last-child {
    grid-auto-rows: 100px 100px 20px;
}
footer > .footer_wraper > .footer_title {
    margin: 7px;
    font-weight: bold;
}
footer > .footer_wraper > a {
    margin: 7px;
}

.users_contact {
    display: grid;
    grid-template-columns: 40px 40px 40px auto;
}
.users_contact > .social_media {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px white;
    box-shadow: 2px 2px 8px #999da5;
    margin: 0px auto;
}
.users_contact > .social_media > img {
    margin: 5px;
}
.users_contact > .contacts {
    text-align: right;
}
.users_contact > .contacts > p {
    font-weight: bold;
    margin-bottom: 18px;
}
.users_contact > .contacts > span {
    font-size: 14px;
    font-weight: lighter;
    color: #898C91;
}
.footer_wraper > .input_border > input {
    height: 40px;
    width: 90%;
    padding: 5px 10px;
    border: solid 5px white;
    border-radius: 18px;
    box-shadow: inset 0px 0px 6px #999da5;
}
.footer_wraper > .input_border {
    margin-top: 30px;
    height: 60px;
    border-radius: 18px;
    box-shadow: 2px 2px 8px #999da5;
}
.footer_wraper > .user_agreement {
    font-size: 14px;
    margin: 0px auto;
    height: 20px
}
